header {
    height: 50vh;
    width: 100%;
    background-image: url("../img/buildings.jpg");
    background-size: cover;
    background-position:bottom;
    font-family: @paragraph-font;
    background-color:@main-color;
     .flex-container(flex, row, center, center);
    .about-us-heading {
    width: 80%;
    h1 {
        text-align: center;
        font-family: @main-font;
    }
    }
}

//first section
.intro-about-section {
    background-color: @box-color;
    font-family: @paragraph-font;
    .flex-container(flex, row, center, center);
    @media @mobile {
        .flex-container(flex, column, center, center);
        align-items: center;
    }
    @media @tablet {
        .flex-container(flex, column, center, center);
    }
    .intro-text-wrap {
        width: 45%;
        padding: 1em;
        @media @tablet {
            width: 80%;
        }
        .about-cta{
            .button(20%, 2em, @header-color);
            &:hover{
                .button(22%, 2.1em, @secondary-color);
            }
            a {
                color: @main-color;
                &:hover{
                color:@header-color;
                }
            }
        }
        h2{
            padding: 2em 0 4px 0;
            font-family: @main-font;

        }
        h4{
            padding-bottom: 1em;
        }
        
        p {
            margin-bottom: 1.6em;
            padding-top:.5em;
        }
    }
    .info-container{
        width: 45%;
        padding: 1em;
        position: relative;
        .flex-container(flex, row, center, center);
            @media @mobile {
                width: 80%;
                margin:1em;
            }
            @media @tablet {
                width: 90%;
                margin:1em;
            }
    
        .welcome-image {
                margin-left: 5em;
                width: auto;
                height: 300px;
                border: @border-style;
                @media @mobile {
                    width: 100%;
                    margin:0;
                    height: auto;
                }
                @media @tablet {
                 
                    margin:0;
                }
              
            }
    }
}

//gallery row
.gallery-row-wrap {
    background-color:@mainBG-color;
    .flex-container(flex, row, center, center);
    padding: 1em;
        @media @mobile {
            .flex-container(flex, column, center, center);
        }
        @media @tablet {
            .flex-container(flex, column, center, center);
        }
    .gallery-item {
         width: 29%;
         height: auto;
         background-color: @box-color;
         border: @border-style;
        padding: .6em;
        margin: .6em;
        align-items: center;
        justify-content: center;
        
        .flex-container(flex, column, center, center);
        @media @mobile {
            width: 80%;
            height: auto;
        }
        @media @tablet {
            width: 90%;
            height: auto;
        }

      h3 {
        padding: 2em 0 .5em 0;
        text-align: center;
        font-weight: 800;
        
       }
        p {
            text-align: center;
            padding: 1em;
        }
    }

    .gallery-item div{
            width: 100%;
            height: 100%;
            .flex-container(flex, column, center, center);
            align-items: center;
            img {
            width: 100%;
            height: auto;
                overflow: hidden;
            
            }
       }
}

//about page cta #2
.call-to-action {
    text-align: center;
    h3 {
        padding: 1em;
        margin-top: 1em;
        font-weight: 800;
        font-family: @main-font;
        font-size: 1.6em;
    }
    p{
        padding: 1em;
    }
}
.about-cta{
    .button(20%, 4em, @header-color);
    margin: 1em 1em 4em 1em;
    &:hover{
        .button(30%, 3.5em, @secondary-color);
    }
    a {
        font-size: 1.5em;
        color: @main-color;
        &:hover{
        color: @header-color;
        }
    }
    @media @mobile {
        .button(30%, 3em, @header-color);
    }
    @media @tablet {
        .button(30%, 3em, @header-color);
    }
}

//team bios
.about-team-members {
    font-family: @paragraph-font;
    .flex-container(flex, row, center, center);
     flex-wrap: wrap;
     padding: 10vh 0 10vh 0;
   
    .team-member-container-1 {
        .flex-container(flex, row, center, center);
        @media @mobile {
            .flex-container(flex, column, center, center);
            padding: 1em 0 1em 0;
        }
    }
    .team-member-container-2 {
        .flex-container(flex, row, center, center);
            @media @mobile {
                .flex-container(flex, column, center, center);
                flex-direction: column-reverse;
                padding: 1em 0 1em 0;
            }
    }
    .team-member-container-3 {
        .flex-container(flex, row, center, center);
        @media @mobile {
            .flex-container(flex, column, center, center);
            padding: 1em 0 1em 0;
        }
    } 
    .team-member-info {
     width: 45%;
     padding: .5em;
     @media @mobile {
      width: 80%;
    }
     h3, h4 {
         padding: .6em;
         font-weight: 800;
     }
     p {
         padding: 1em;
     }
    }

    .team-member-photo{
        width: 50%;
        .flex-container(flex, row, center, center);
            @media @mobile {
                padding: @padding-top-bottom;
            }
        img{
            width:80%;
            border: @border-style;
        }
    }
}
