header {
    height: 50vh;
    width: 100%;
    position: relative;
    background-image: url("./img/about-banner.jpeg");
    background-size: cover;
    font-family: @paragraph-font;
    background-color:@mainBG-color;
    display: flex;
    flex-direction: column;
   /* .about-banner {
        width: 100%;
        height: 100%;
        position: absolute;
        align-self: center;
        top:0;
        bottom: 0;
        
        overflow: hidden;
    }*/
    .about-us-heading {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    position: relative;
    width: 80%;
    h1 {
        font-size: 3rem;
        text-align: center;
        font-family: @main-font;
    }
    }
}

//first section
.intro-about-section {
    background-color: @box-color;
    font-family: @paragraph-font;
    .flex-center();
    @media @mobile {
        .flex-col();
        align-items: center;
    }
    @media @tablet {
        .flex-col();
    }
    .intro-text-wrap {
        width: 45%;
        padding: 1em;
        @media @tablet {
            width: 80%;
        }
        .about-cta{
            .button(20%, 2em, @header-color);
            &:hover{
                .button(22%, 2.1em, @secondary-color);
            }
            a {
                color: @main-color;
                &:hover{
                color: #000;
                }
            }
        }
        h2{
            padding: 2em 0 4px 0;
            font-size: 2rem;
            font-family: @main-font;

        }
        h4{
            padding-bottom: 1em;
        }
        
        p {
            margin-bottom: 1.6em;
            padding-top:.5em;
        }
    }
    .info-container{
        width: 45%;
        padding: 1em;
        position: relative;
    .flex-center();
    justify-content: center;
        @media @mobile {
            width: 80%;
            margin:1em;
        }
        @media @tablet {
            width: 90%;
            margin:1em;
        }
    
        .welcome-image {
                 margin-left: 5em;
                width: auto;
                height: 300px;
                @media @mobile {
                    width: 100%;
                    margin:0;
                }
                @media @tablet {
                    width: 100%;
                    margin:0;
                }
              
            }
    }
}

//gallery row
.gallery-row-wrap {
    background-color:@mainBG-color;
    .flex-center();
    padding: 1em;
    @media @mobile {
        .flex-col();
    }
    @media @tablet {
        .flex-col();
    }
    .gallery-item {
         width: 30%;
         height: auto;
         background-color: @box-color;
         margin: .6em;
        padding: .6em;
        align-items: center;
        justify-content: center;
       
      .flex-col();
      @media @mobile {
        width: 80%;
        height: auto;
    }
    @media @tablet {
        width: 90%;
        height: auto;
    }

      h3 {
        padding: 2em 0 .5em 0;
        font-size: 1.2em;
        text-align: center;
        font-weight: 800;
        
       }
      p {
          text-align: center;
          padding: 1em;
      }
    }

    .gallery-item div{
        width: 100%;
        height: 100%;
        .flex-col();
        align-items: center;
        img {
          width: 100%;
           height: auto;
            overflow: hidden;
           
        }
    }
}

//about page cta #2
.call-to-action {
    text-align: center;
    h3 {
        padding: 1em;
        margin-top: 1em;
        font-weight: 800;
        font-family: @main-font;
    }
    p{
        padding: 1em;
    }
}
.about-cta{
    .button(10%, 2em, @header-color);
    margin: 1em 1em 4em 1em;
    &:hover{
        .button(12%, 2.1em, @secondary-color);
    }
    a {
        color: @main-color;
        &:hover{
        color: #000;
        }
    }
    @media @mobile {
        .button(30%, 2em, @header-color);
    }
    @media @tablet {
        .button(30%, 2em, @header-color);
    }
}

//team bios
.about-team-members {
    font-family: @paragraph-font;
    .flex-center();
     flex-wrap: wrap;
     padding: 10vh 0 10vh 0;
   
    .team-member-container-1 {
        .flex-center();
        @media @mobile {
            .flex-col();
            padding: 1em 0 1em 0;
        }
    }
    .team-member-container-2 {
            .flex-center();
            @media @mobile {
                .flex-col();
                flex-direction: column-reverse;
                padding: 1em 0 1em 0;
            }
    }
    .team-member-container-3 {
        .flex-center();
        @media @mobile {
            .flex-col();
            padding: 1em 0 1em 0;
        }
    } 
    .team-member-info {
     width: 45%;
     padding: .5em;
     @media @mobile {
      width: 80%;
    }
     h3, h4 {
         padding: .6em;
         font-weight: 800;
         font-size: 1.3em;
     }
     p {
         padding: 1em;
     }
    }

    .team-member-photo{
        width: 50%;
        .flex-center();
        @media @mobile {
            padding: 2em 0 2em 0;
        }
        img{
            width:80%;
        }
    }
}
