.button(@w, @h, @bc) {
    width: @w;
    height: @h;
    background-color: @bc;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spacing{
    padding: 2%;
    margin: 2%;
}
