.nav-bar {
    display        : flex;
    justify-content: space-between;

    height    : 18vh;
    width     : 100%;
    padding-bottom: 3em;
    background: @secondary-color;
    font-family: @paragraph-font;
    @media @mobile {
        flex-direction: column;
        height    : auto;
        justify-content: center;
        align-items: center;
       margin-bottom: -15px;
     }
     @media @tablet {
        .flex-container(flex, column, center, center);
         justify-content: center;
         align-items: center;
         height    : auto;
         padding: @padding-top-bottom;
     }
}

p{
    align-self: center;
}
.engine-logo-wrap{
  @media @mobile {
    .flex-container(flex, column, center, center);
      align-items: center;
  }
  @media @tablet{
    .flex-container(flex, column, center, center);
    align-items: center;
 }
.rule-engine-logo {
    width      : auto;
    padding: @padding-top-bottom;
    margin-left: 2%;
    @media @mobile {
        width      : 50%;
        height     : 50%;
     }
     @media @tablet{
        width      : 50%;
        height     : 50%;
     }
}
}
h1 {
    /*width: 60%;*/
    .flex-container(flex, row, center, center);
    align-self: center;
}

nav {
    
    .flex-container(flex, row, center, center);
    justify-content: space-around;
    width: 30%;
    @media @mobile {
        flex-direction: column;
        width: 100%;
     }
     @media @tablet {
        flex-direction: column;
     }
    a {
        color    : black;
        &:hover {
            color: @main-color;
            border-bottom: @border-style;
            border-top: @border-style;
            padding: 3% 0;
            margin-bottom: -3% 0;
        }
        @media @mobile {
            padding: @padding-top-bottom;
           
           border-top:   @border-style;
           width: 100%;
           text-align: center;
        &:hover {
            color: @main-color;
            background-color: @box-color ;
            border-bottom: none;
        }
         }

    
        @media @tablet {
            padding: @padding-top-bottom;
         }
    }


}