.nav-bar {
    display        : flex;
    justify-content: space-between;

    height    : 18vh;
    width     : 100%;
    background: @secondary-color;
    font-family: @paragraph-font;
    @media @mobile {
        flex-direction: column;
        height    : auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 1em;
     }
     @media @tablet {
         .flex-col();
         justify-content: center;
         align-items: center;
         height    : auto;
         padding-bottom: 1em;
     }
}
p{
    align-self: center;
}
.engine-logo-wrap{
  @media @mobile {
      .flex-col();
      align-items: center;
  }
  @media @tablet{
    .flex-col();
    align-items: center;
 }
.rule-engine-logo {
    width      : 160px;
    height     : 150px;
    margin-left: 2%;
    @media @mobile {
        width      : 50%;
        height     : 50%;
     }
     @media @tablet{
        width      : 50%;
        height     : 50%;
     }
}
}
h1 {
    /*width: 60%;*/
    .flex-center();
    font-size: 3.2rem;
    align-self: center;
}

nav {
    
    .flex-center();
    flex-direction : row;
    justify-content: space-around;
    width: 30%;
    @media @mobile {
        flex-direction: column;
     }
     @media @tablet {
        flex-direction: column;
     }
    a {
        color    : black;
        @media @mobile {
           padding: 1em 0 1em 0;
         }

        &:hover {
            color: @main-color;
        }
        @media @tablet {
            padding: 1em 0 1em 0;
         }
    }


}